body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: #333;
}

header.body {
  border-bottom: 1px solid rgba(0, 0, 0, 0.14);
  font-family: 'Cabin Sketch', cursive;
  padding: 20px;
  text-align: center;
}

header.body .title {
  font-size: 3em;
}

#app {
  text-align: center;
}
